* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { 
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

canvas {
    width:  100%;
    height: 100%;

    position: absolute;
    left: 0;
    top:  0;
}

#terrain { z-index: 1; }
#mobs    { z-index: 2; }
#objects { z-index: 3; }
#extras  { z-index: 4; }
